body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.05374649859943981) 35%, rgba(0,212,255,1) 100%);
}


form{
    width: 100%;
    padding: 50px;
    border-radius: 15px;
    margin-top: 150px;
}
   

.btn{
    border-radius: 0.3rem;
    width: 100px;
    height: 40px;
    color: black;
    background-color: #318CE7;
    font-weight: 600;
    border: 1px solid #034694;
}

h4{
    font-size: 2rem;
    text-align: center;
    font-family: Georgia;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.input{
    text-align: center;
    border: 2px solid #097179;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-radius: 12px;
    font-size: 1.2rem;
    font-family: Courier;
}

.field-name{
    display: flex;
    color: #002244;
    font-size: 1.2rem;
    font-family: Courier;
    text-align: center;
    align-items: center;
    justify-content: center;
}