body{
    background-color:#d2d2d2;
    /* background-image: url('pexels-ron-lach-10526883.jpg'); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.05374649859943981) 35%, rgba(0,212,255,1) 100%); */
}


form{
    width: 24%;
    background-color:#708090;
    padding: 50px;
    border-radius: 15px;
    margin-top: 150px;
    border: 1.5px solid gray;
}

.btn{
    background-color: #d2d2d2;
    font-weight: 600;
    border: 1px solid #949398FF;
}

h4{
    text-decoration: underline;
}

#username{
   border: 1px solid #949398FF;
   background-color: #e0e0e0;
}

#password{
    border: 1px solid #949398FF;
    background-color: #e0e0e0;
} 

.input{
    background-color: whitesmoke;
}
