body {
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(150,150,150,1) 35%, rgba(0,212,255,1) 100%);
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 
}


.heading {
    font-size: 2rem;
    /* font-weight: bold; */
    text-align: center;
    margin-top: 20px;
    font-family: Georgia;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
}
.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px solid #097179;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    padding-bottom: 1px;
}

.btn{
    max-width: 150px;
    background-color: #318CE7;
    border: 1px solid #034694;
    font-weight: 500;
}

.serach-heading{
    font-size: 1.2rem;
    font-family: Courier;
    
}

.form-control {
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.input-field{
    border: 2px solid #097179;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    height: 45px;
    width: 100%;
    border-radius: 12px;
}

h4{
    width: 300px;
}
