.main {
    width: 64%;
    height: 400px;
    /* background-color: antiquewhite; */
}

.main-heading {
    font-family: Georgia;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    padding-bottom: 3px;
}

.heading {
    font-size: 20px;
    font-family: Courier;
}

.custom-input {
    border-radius: 12px;
    border: 2px solid #097179;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 113, 121, 0.17970938375350143) 35%, rgba(0, 212, 255, 1) 100%);
}

.btn {
    background-color: #318CE7;
    border: 1px solid #034694;
    font-weight: 500;
}